<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCF40.Service">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WCF40.IGetPubs"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/pubs"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
